/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url(normalize.min.css);

html {
	background: #f3f4f5;
	color: #7f8384;
	font-family: "Acumin Pro", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.4;
}

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,canvas,iframe,img,svg,video {vertical-align: middle;}

h1,h2,h3,h4,h5,h6 {
	color: #616567;
	font-weight: 600;
	line-height: 1.25;
}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 14px;}

a {
	color: #5283f2;
	text-decoration: none;
}

fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}

*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

svg {fill: currentColor;}

::-webkit-input-placeholder {color: #9c9c9c;}
::-moz-placeholder {color: #9c9c9c;}
:-ms-input-placeholder {color: #9c9c9c;}

label {
	color: #babec0;
	font-size: 12px;
	text-transform: uppercase;
}

input,textarea,select {
	background: rgba(243,244,245,.75);
	border: #dce1e3 1px solid;
	border-radius: 3px;
	color: #7f8384;
	display: inline-block;
	margin: 0;
	outline: none;
	height: 40px;
	padding: 0 12px;
}
input[disabled="disabled"],textarea[disabled="disabled"],
select[disabled="disabled"] {background: rgba(243,244,245,.05);border-color: #edeff0;}

textarea {
	overflow: auto;
	height: auto;
	padding: 10px 12px;
	width: 100%;
}

button, input[type="button"],
input[type="submit"], input[type="reset"] {
	background: #5283f2;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	border: none;
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
}

button:focus, button:hover,
input[type="button"]:focus, input[type="button"]:hover,
input[type="submit"]:focus, input[type="submit"]:hover {background: #000;}


/* ==========================================================================
   Helper classes
   ========================================================================== */

#messages:after,
.wrap:after {clear:both;content:'';display:table;}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn {
	background: #5283f2;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	padding: 10px 16px;
	text-transform: uppercase;
}
.btn.light {
	background: transparent;
	border: #90cbe2 1px solid;
	color: #90cbe2;
}

.wrap {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1240px;
}

#nav {
	background: #fff;
	box-shadow: 0px 1px 1px 0px rgba(97,101,103,.1);
	height: 56px;
}

.left {
	float: left;
	padding-left: 40px;
	width: 60%;
}

.logo {
	color: #646569;
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	margin-top: 8px;
}

.robot {
	color: #616567;
	display: block;
	margin: 40px auto 64px;
	font-size: 16px;
	height: 96px;
	line-height: 1;
	width: 96px;
	text-align: center;
	text-transform: uppercase;
}

.menu {
	line-height: 1;
	list-style: none;
	float: right;
	margin: 10px 0 0;
	padding: 0 40px 0 0;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	width: 40%;
}

.menu li {
	display: inline;
	font-size: 13px;
	margin-left: 24px;
}
.menu li:first-child {margin-left: 0;}

.menu ol {
	border-radius: 0 0 3px 3px;
	box-shadow: 1px 1px 1px 0px rgba(97,101,103,.1);
	display: none;
	line-height: 32px;
	list-style: none;
	padding: 0;
	position: absolute; right: 0; top: 46px;
	width: 120px;
	text-align: center;
	z-index: 9;
}

.menu ol li {
	background: #fff;
	border-bottom: #f3f4f5 1px solid;
	display: block;
	font-size: 12px;
	margin: 0;
}
.menu ol li:last-child {border-radius: 0 0 3px 3px;border: none;}

.menu ol a {display: block;}

.menu a {color: #7f8384;}

.menu .active a,
.menu a:focus,
.menu a:hover {color: #5283f2;}

.menu .dropdown img {
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
}

.menu .dropdown > a {
	background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA3Ij48cGF0aCBmaWxsPSIjRENFMUUzIiBkPSJNNiw3QzUuOCw3LDUuNSw2LjksNS4zLDYuN2wtNS01Yy0wLjQtMC40LTAuNC0xLDAtMS40YzAuNC0wLjQsMS0wLjQsMS40LDBMNiw0LjZsNC4zLTQuM2MwLjQtMC40LDEtMC40LDEuNCwwYzAuNCwwLjQsMC40LDEsMCwxLjRsLTUsNUM2LjUsNi45LDYuMyw3LDYsN3oiLz48L3N2Zz4=") right center no-repeat;
	background-size: 12px 7px;
	display: inline-block;
	padding-right: 20px;
}


/* messages options */
#nav form {display: inline;}

#nav input[type="search"],
#nav select {background: #fff;height: 32px;}
#nav input[type="search"] {margin: 11px 0 0 24px;width: 180px;}
#nav select {margin-left: 12px;min-width: 120px;}

#nav input[type="search"].active,
#nav select.active {border-color: #5283f2;}

/* Messages */
.messages {overflow: hidden;}
#messages {
	background: #fff;
	box-shadow: 1px 1px 1px 0px rgba(97,101,103,.1);
	border-radius: 3px;
	margin: 1px auto 0;
}

#messageList form {display: inline;}

#messageList {
	float: left;
	height: 100%;
	position: relative;
	width: 30%;
}

#messageList ul {
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 48px 0 0 0;
}

#messageList li {
	background: none;
	border-bottom: #f3f4f5 1px solid;
	display: block;
	padding: 12px 20px 12px 112px;
	position: relative;
	height: 96px;
}
#messageList li.active {background-image: linear-gradient(to right, #f9f9ea, #fff);}
.bulk #messageList li {height:68px;}

#messageList h4 {
	color: #616567;
	font-size: 16px;
	line-height: 1;
	margin: 6px 0 6px;
}

.bulk #messageList h4 {margin-top: 14px;}

#messageList p {
	color: #7f8384;
	line-height: 18px;
	margin: 0;
}
#messageList .unread h4,
#messageList .unread p {color: #232526;}

#messageList img {
	border-radius: 50%;
	height: 48px;
	position: absolute; left: 44px; top: 24px;
	width: 48px;
}
.bulk #messageList img {
	height: 40px;
	top: 14px;
	width: 40px;
}

#messageList time {
	color: #babec0;
	font-size: 13px;
	line-height: 1;
	position: absolute; right: 16px; top: 15px;
}

#messageList li input[type="checkbox"] {display: none;}

#messageList .checkbox {
	background: transparent;
	border: #fff 2px solid;
	box-shadow: 0px 0px 0px 1px #dce1e3;
	border-radius: 3px;
	display: block;
	height: 12px;
	padding: 0;
	position: absolute; left: 16px; top: 42px;
	width: 12px;
}
#messageList .checkbox.all {left: 16px; top: 18px;}
#messageList .checkbox:hover {background: #dce1e3}

.bulk #messageList .checkbox {top:28px;}
.bulk #messageList .checkbox.all {top: 18px;}

#messageList .checkbox.checked {
	background: #90cbe2;
	box-shadow: 0px 0px 0px 1px #90cbe2;
}

li[class*="uc-"]:after {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	border-radius: 50%;
	content: '';
	display: block;
	height: 16px;
	position: absolute; left: 80px; top: 60px;
	width: 16px;
	z-index: 9;
}
.uc-messenger:after {background-image: url(../img/messenger.png);}
.uc-slack:after {background-image: url(../img/slack.png);}

.msg-nos {
	background: #5283f2;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	position: absolute; top: 38px; right: 8px;
	width: 20px;
	text-align: center;
	z-index: 9;
}

#messageList div {
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,.9));
	border-top-left-radius: 3px;
	border-bottom: #f3f4f5 1px solid;
	height: 48px;
	overflow: hidden;
	position: absolute; left: 0; top: 0;
	width: 100%;
	z-index: 10;
}

#messageList div input[type="checkbox"] {display: none;}

.top-bar span {
	display: block;
	float: right;
	height: 19px;
	margin: 14px 24px 0 0;
	overflow: hidden;
}

.top-bar span button {
	background: transparent;
	border-radius: 0;
	color: #dce1e3;
	float: left;
	height: 19px;
	line-height: 1;
	padding: 0;
	margin-right: 24px;
	width: 19px;
}

.top-bar .btn-star svg {height: 19px;width: 19px;}
.top-bar .btn-delete svg {height: 19px;width: 18px;}

.top-bar .btn-delete {margin-right: 0;}

#messagePane {
	float: left;
	height: 100%;
	position: relative;
	width: 50%;
}

#messagePane h3 {
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,.9));
	box-shadow: 0px 1px 1px 0px rgba(97,101,103,.1);
	font-size: 16px;
	height: 47px;
	line-height: 46px;
	margin: 0;
	position: absolute; left: 0; top: 0;
	text-align: center;
	width: 100%;
	z-index: 3;
}

#messagePane h3 small {
	color: #adb1b2;
	font-size: 14px;
	font-weight: 300;
}

#messagePane ul {
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 64px 0;
}

#messagePane li {
	display: block;
	margin-bottom: 7px;
	overflow: hidden;
	position: relative;
}

#messagePane .received {padding: 0 96px 0 76px;}

#messagePane .sent {padding: 0 24px 0 140px;}

#messagePane img {
	border-radius: 50%;
	display: block;
	height: 40px;
	position: absolute; left: 20px; top: 0;
	width: 40px;
}

#messagePane div,
.msgs div {
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 10px 16px 11px;
	position: relative;
}

#messagePane .received div {background: #f9f9ea;}
#messagePane .received div:before,
#messagePane .sent div:after {
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 14px;
	position: absolute; top: 13px;
	width: 12px;
}

#messagePane .received div:before {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGOUY5RUEiIGQ9Ik0xMiwwLjhjMCwwLjYsMCwxMiwwLDEyLjRjMCwwLjYtMC42LDEtMS4yLDAuN2MtMC41LTAuMy05LjctNS43LTEwLjUtNi4yYy0wLjUtMC4zLTAuNS0xLDAtMS4zQzEsNiwxMC4yLDAuNSwxMC45LDAuMUMxMS40LTAuMiwxMiwwLjEsMTIsMC44eiIvPjwvc3ZnPg==");
	left: -6px;
}

#messagePane .sent div:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNEQkYxRjkiIGQ9Ik0wLDEzLjJjMC0wLjYsMC0xMiwwLTEyLjRjMC0wLjYsMC42LTEsMS4yLTAuN2MwLjUsMC4zLDkuNyw1LjcsMTAuNSw2LjJjMC41LDAuMywwLjUsMSwwLDEuM0MxMS4xLDgsMS44LDEzLjUsMS4xLDEzLjlDMC42LDE0LjIsMCwxMy45LDAsMTMuMnoiLz48L3N2Zz4=");
	right: -6px;
}

#messagePane .sent div {background: #dbf1f9;}

#messagePane .note {
	color: #babec0;
	font-size: 12px;
}

#messagePane p {color: #616567; margin: 12px 0 0;}
#messagePane p:first-child {margin: 0;}

#messagePane time {
	color: #babec0;
	display: block;
	font-size: 12px;
	line-height: 1;
}

#messagePane .sent time {text-align: right;}

#messagePane form {
	background: linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,1));
	height: 56px;
	padding: 0 20px 1px;
	position: absolute; left: 0; bottom: 0;
	width: 100%;
	z-index: 9;
}

#messagePane form:before {
	background: #f3f4f5;
	content: '';
	display: block;
	height: 1px;
	width: 100%;
}

#messagePane textarea {
	background: transparent;
	border: none;
	height: 100%;
	overflow: auto;
	padding: 16px 8px;
	resize: none;
	width: 100%;
}

#messagePane input[type="submit"] {
	background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAxOCI+PHBhdGggZmlsbD0iIzkwQ0JFMiIgZD0iTTE5LjMsMy43Yy0wLjEsMC0wLjIsMC4xLTAuMywwLjFjLTQuOSwyLjYtOS44LDUuMy0xNC44LDcuOWMtMC4yLDAuMS0wLjMsMC4xLTAuNSwwYy0xLjEtMC44LTIuMy0xLjYtMy40LTIuNEMwLjEsOS4zLDAsOS4xLDAsOWMwLTAuMSwwLjItMC4zLDAuNC0wLjNjNy43LTIuOSwxNS4zLTUuNywyMy04LjVjMC4yLTAuMSwwLjQtMC4xLDAuNSwwLjFjMC4yLDAuMiwwLjEsMC40LTAuMSwwLjZjLTMuNSw1LjctNywxMS4zLTEwLjQsMTdjLTAuMiwwLjMtMC40LDAuNC0wLjcsMC4yYy0wLjktMC42LTEuOC0xLjItMi43LTEuOGMtMC4yLTAuMS0wLjMtMC4xLTAuNCwwYy0wLjksMC42LTEuOCwxLjItMi43LDEuOGMtMC4xLDAuMS0wLjQsMC4yLTAuNSwwLjFjLTAuMS0wLjEtMC4yLTAuMy0wLjItMC41YzAtMS4yLDAtMi4zLDAtMy41YzAtMC4zLDAuMS0wLjQsMC4zLTAuNkMxMC43LDEwLjMsMTQuOSw3LjEsMTksNEMxOS4xLDMuOSwxOS4yLDMuOCwxOS4zLDMuN0MxOS4zLDMuNywxOS4zLDMuNywxOS4zLDMuN3oiLz48L3N2Zz4=") center center no-repeat;
	background-size: 24px 18px;
	border-radius: 0;
	font-size: 0;
	height: 32px;
	padding: 0;
	position: absolute; top: 10px; right: 16px;
	width: 40px;
}

/* User Details */
#clientDetails {
	height: 100%;
	padding: 20px;
	overflow-y: auto;
	width: 20%;
}

#clientDetails h2 {
	color: #babec0;
	font-size: 11px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

#clientDetails img {
	border-radius: 50%;
	display: block;
	height: 96px;
	margin: 16px auto;
	width: 96px;
}

#clientDetails h5 {
	line-height: 1;
	margin: 0;
	text-align: center;
}

#clientDetails ul {
	list-style: none;
	padding: 0;
}

#clientDetails ol {
	list-style: none;
	margin-top: 4px;
	padding-left: 16px;
}

#clientDetails li {
	color: #babec0;
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}

#clientDetails .data {
	color: #7f8384;
	font-size: 14px;
	margin-bottom: 12px;
	padding-left: 16px;
	text-transform: none;
}


/* Footer */
#footer {
	margin-top: 120px;
	text-align: center;
}

#footer:before {
	background: #babec0;
	content: '';
	display: block;
	height: 1px;
	margin: 0 auto 37px;
	width: 32px;
}

#footer .copy {
	color: #adb1b2;
	font-size: 13px;
	margin-bottom: 40px;
}

/* Pages */
.form,.account {
	background: #fff;
	box-shadow: 1px 1px 1px 0px rgba(97,101,103,.1);
	border-radius: 3px;
	margin: 48px auto;
	padding: 40px;
	position: relative;
	max-width: 960px;
}

.form {max-width: 400px;}

.form h1 {
	color: #616567;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	margin-top: 0;
	text-align: center;
}
.form h1:after {
	background: #babec0;
	content: '';
	display: block;
	height: 1px;
	margin: 11px auto 0;
	width: 24px;
}

.form input {margin-bottom: 16px;width: 100%;}

.form input[type="submit"] {margin: 16px 0 0;}

/* Account */
.account {
	margin-top: 96px;
	max-width: 640px;
	text-align: center;
}

.profile-picture {
	border: #fff 4px solid;
	border-radius: 50%;
	display: block;
	height: 128px;
	margin: -108px auto 0;
	width: 128px;
}

.account h1 {
	font-size: 24px;
	margin: 12px 0 18px;
}

.account h1 small {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

.account form {
	margin: 0 auto;
	width: 320px;
}

.account form label {
	display: block;
	line-height: 1;
	margin-bottom: 5px;
	text-align: left;
}

.account input {width: 100%;}

.account form .btn {margin: 24px 0 12px;}

.account form p {
	color: #babec0;
	font-size: 14px;
	line-height: 1;
	margin: 0;
}

.account h2 {
	font-size: 24px;
	margin-top: 66px;
}
.account h2:after,
.welcome h1:after,
.onboarding h1:after {
	background: #c6cacc;
	display: block;
	content: '';
	height: 1px;
	margin: 7px auto 0;
	width: 24px;
}

.account h3 {
	font-size: 20px;
	margin: 22px 0 17px;
}

.account h3 em {
	color: #5283f2;
	font-weight: 600;
	font-style: normal;
}

/* Popup */
#popup {
	background: rgba(0,0,0,.25);
	display: flex;
	align-items:center;justify-content:center;
	height: 100%;
	position:fixed;left:0;top:0;
	width: 100%;
	z-index: 999;
}

#popup .box {
	background: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,.25);
	padding: 40px;
	position: relative;
	max-width: 480px;
}

#popup .box.error {color: #e95353;}

button.close {
	background: #fff;
	color: #7f8384;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,.25);
	border-radius: 16px;
	height: 32px;
	font-size: 15px;
	line-height: 32px;
	padding: 0;
	position:absolute;right:-16px;top:-16px;
	width: 32px;
	text-align: center;
}

/* Error Handling for Login/Register */
p.error {
	color: #e95353;
	line-height: 18px;
	margin: -8px 0 8px;
}

/* Switch button */
.btn-switch {
	min-height: 40px;
	padding-top: 8px;
}

.btn-switch input[type="checkbox"] {height: 0;width:0;display: none;}

.switch {
	background: #babec0;
	border-radius: 8px;
	height: 16px;
	padding: 0;
	position: relative;
	width: 32px;
}

.switch.on,
.switch.on:focus,
.switch.on:hover {background: #5283f2;}

.switch:focus,
.switch:hover {background: #babec0;}

.switch span {
	background: #fff;
	border-radius: 6px;
	display: block;
	height: 12px;
	position: absolute; left: 2px; top: 2px;
	width: 12px;
	transition: left .25s;
}

.switch.on span {left: 18px;}
