<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Welcome</h1>
    <center>
        <a href='https://slack.com/oauth/authorize?client_id=<%=SLACK_CLIENT_ID%>&redirect_uri=<%=SLACK_REDIRECT%>&scope=bot,users:read'>
          <img alt="Add to Slack" height="40" width="139" src="/img/add_to_slack.png">
        </a>
    </center>
  </body>
</html>
